spring:
  application:
    name: order-service
  zipkin:
    base-url: http://localhost:9411
  sleuth:
    sampler:
      probability: 1.0

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka:password@localhost:8761/eureka/

management:
  health:
    circuitbreakers:
      enabled: true
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always

# Resilience4J configuration
resilience4j:
  circuitbreaker:
    instances:
      inventory:
        automaticTransitionFromOpenToHalfOpenEnabled: true
        failureRateThreshold: 50
        slidingWindowType: COUNT_BASED
        event-consumer-buffer-size: 10
        registerHealthIndicator: true
        waitDurationInOpenState: 5s
        permittedNumberOfCallsInHalfOpenState: 3
        slidingWindowSize: 5
  # timeout properties
  timelimiter:
    instances:
      inventory:
        timeout-duration: 3s
  # retry properties
  retry:
    instances:
      inventory:
        max-attempts: 3
        wait-duration: 5s